Package: ch.marcoroth.shortlook.plugin.contact-photo.rocketchat
Name: RocketChat Profile Pictures for ShortLook
Depends: mobilesubstrate, co.dynastic.ios.tweak.shortlook
Version: 1.0.0
Architecture: iphoneos-arm
Description: Show RocketChat users' profile pictures in ShortLook when you receive a RocketChat notification!
Maintainer: Marco Roth
Author: Marco Roth
Section: Tweaks (ShortLook)
